[tool.poetry]
name = "mysql-context-manager"
version = "0.1.3"
description = "Work with MySQL databases asynchronously, and in context."
license = "MIT"
authors = ["IdoKendo <ryuusuke@gmail.com>"]
readme = "README.md"
homepage = "https://pypi.org/project/mysql-context-manager/"
repository = "https://github.com/IdoKendo/mysql-context-manager"

[tool.poetry.dependencies]
python = "^3.8"
databases = "^0.6.0"
PyMySQL = "^1.0.2"
aiomysql = "^0.1.1"

[tool.poetry.dev-dependencies]
pytest = "7.1.2"
pre-commit = "^2.20.0"
scriv = {extras = ["toml"], version = "^0.16.0"}
tox = "^3.25.1"
pytest-asyncio = "^0.19.0"
pytest-mock = "^3.8.2"
pytest-cov = "^3.0.0"

[tool.pytest.ini_options]
addopts = "--cov=mysql_context_manager"
testpaths = [
    "tests",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
